*/target/
target

bin/
.settings/

.classpath
.project

# Intellij files
*.iml
.idea/

# Vim backup files
*~
.*.swp

# Other files
*.jar
*.class
*.er
*.log
*.bck
*.so

# Serialised models
*.ser

# Temporary stuff
junk/*
.DS_Store
