# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Tribuo CI (macOS aarch64, Java SE 21, 25)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        # test against supported LTS versions and latest
        java: [ 21, 25 ]
    name: macOS aarch64 Java SE ${{ matrix.java }}
    steps:
      - uses: actions/checkout@v4
      - name: Install libomp for XGBoost
        run: brew install libomp
      - name: Setup Oracle Java SE
        uses: oracle-actions/setup-java@v1.5.0
        with:
          website: oracle.com
          release: ${{ matrix.java }}
      - name: Build with Maven
        run: mvn -B package --file pom.xml -Parm
